/* calling google font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    color: #0D1321;
    background: none repeat scroll 0 0;
    background-color: #ffffff;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}


input {
    outline: none;
}

input::placeholder {
    font: inherit;
}

h1,
h2,
h4 {
    font-weight: 800;
    color: #0D1321;
}

h1 {
    font-size: 48px;
    line-height: 1.6em;
}

h2 {
    font-size: 32px;
}

h3,
h4 {
    font-size: 24px;
}

h3 {
    font-weight: 700;
    color: #0D1321B3;
}


.container {
    max-width: 1520px;
    margin: 0 auto;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
}

.flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexbetween {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* .flexitem {
    display: flex;
    align-items: center;
}

.flexcol {
    display: flex;
    flex-direction: column;
    gap: 1em;
} */

/*==================================================
                header start
==================================================*/
/* wrapper */
.header-wrap {
    padding: 45px 0;
}

/*----------------- logo -----------------*/
.logo h4 {
    font-size: 28px;
}

/*----------------- resume -----------------*/
.resume a {
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-transform: capitalize;
    padding: 17px 24px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
}

/*==================================================
                header end
==================================================*/

/*==================================================
                hero section start
==================================================*/
/* wrapper */
.hero-wrap {
    text-align: center;
    background-image: url(img/Hero-bg.png);
    background-position: center center;
    background-size: contain;
    padding: 25px 0 40px;
}

/* hero image */
.hero-image {
    margin-bottom: 40px;
}

/* hero content */
.hero-content p {
    margin: 0 auto;
    padding: 25px 0;
    width: 1136px;
}

/* hero button */
.hero-button a {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 19, 33);
    border-radius: 8px;
    padding: 20px 35px;
    display: inline-block;
}

/*==================================================
                hero section end
==================================================*/

/*==================================================
               web development section start
==================================================*/
/* wrapper */
.webdev-wrap {
    margin-top: 75px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px 80px 97px;
}

.sec-title {
    text-align: center;
}

.sec-title p {
    width: 1135px;
    padding: 30px;
    margin: 0 auto;
}

.single-feature {
    padding: 48px;
    border-radius: 16px;
    margin: 10px 0 30px;
}

.gradient-ltr {
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.gradient-rtl {
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.feature-content {
    flex-basis: 635px;
}

.feature-content p {
    margin: 25px 0;
}

.feature-content a {
    padding: 15px 40px;
    border: 1px solid rgb(13, 19, 33);
    display: inline-block;
    text-transform: capitalize;
}

/*==================================================
               web development section end
==================================================*/

/*==================================================
               inspiration section start
==================================================*/
.inspiration-wrap {
    padding: 80px 0;
}

.inspiration-video {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
    margin-top: 25px;
}

.inspiration-video iframe {
    width: 100%;
    height: 733px;
    border-radius: 16px;

}

/*==================================================
               inspiration section end
==================================================*/

/*==================================================
               current target section start
==================================================*/
.targets {
    display: flex;
    gap: 1.5em;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.single-targets {
    padding: 40px;
    border-radius: 16px;

}

.bg-orange {
    background: rgba(255, 76, 30, 0.05);
}

.bg-blue {
    background: rgba(0, 76, 232, 0.05);
}

.bg-yellow {
    background: rgba(255, 223, 0, 0.05);
}

.single-targets h4 {
    text-transform: uppercase;
    margin: 15px 0;
}

.single-targets p {
    margin: 15px 0;
}

.single-targets a {
    text-decoration: underline;
    font-weight: 700;
    line-height: 19px;
}

/*==================================================
               current target section end
==================================================*/

/*==================================================
                  form section start
==================================================*/
.form-wrap {
    height: 418px;
    border-radius: 16px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)), url(img/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

.form-wrap .sec-title,
.form-wrap .sec-title h2.color-white {
    color: #ffffff;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    padding: 0px 170px;
}

.form input {
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px;
    flex: 1;
}

.form button {
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 16px 20px;
    flex-basis: 20%;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    color: rgb(13, 19, 33);
}

/*==================================================
                  form section end
==================================================*/

/*==================================================
                  footer section start
==================================================*/
footer{
    padding: 32px 0;
        background: rgba(13, 19, 33, 0.03);
}
.copyright-text p {
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    color: rgb(13, 19, 33);
}

.social-icons ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5em;
}

/*==================================================
                  footer section end
==================================================*/